.form_schedules {
    background-color: white;
    padding: 15px;
}

.schedule_card {
    background-color: white;
    margin: 15px 0;
    padding: 15px 10px;
    border-radius: 10px;
    border-left: #0275d8 5px solid;
    box-shadow: 1px 1px 4px gray;
}